.item {
	width: 200px;
	height: max-content;
	padding: 15px 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	background-color: var(--lightPurple);
}
.item:hover {
	background-color: var(--honey);
}
.item:hover .item__img {
	transform: scale(1.3);
}
.item__name {
	text-align: center;
	font-weight: 900;
	color: var(--purple);
	margin: 0;
	margin-bottom: 20px;
}
.item__img {
	height: 100px;
	width: auto;
}
.item__desc {
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0.5em 0;
	color: var(--purple);
}
.item__price {
	margin: 0.5em 0;
	font-weight: 700;
	color: var(--purple);
}
.item__link {
	text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
