.navbar__list {
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 3em;
	list-style: none;
	padding-left: 0;
	padding-top: 3em;
	font-size: 2rem;
	position: absolute;
	top: 70px;
	left: -100%;
	transition: left 0.5s ease-out;
	background-color: var(--honey);
	z-index: 999;
}
.navbar__list.active {
	left: 0;
}
.navbar__item {
	text-decoration: none;
	font-weight: 700;
	color: var(--purple);
}

@media screen and (min-width: 800px) {
	.navbar__list {
		height: 100%;
		position: static;
		flex-direction: row;
		font-size: 1.5rem;
		padding-top: 0;
		justify-content: center;
		margin-right: 85px;
		gap: 1em;
	}
	.navbar__item:hover {
		color: var(--purpleHover);
	}
}
