.navbar {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	position: sticky;
	top: 0;
	background-color: var(--honey);
}
.navbar__logo {
	display: block;
}
.navbar__logo-link {
	text-decoration: none;
}

@media screen and (min-width: 800px) {
	.navbar__logo {
		display: flex;
		font-size: 2rem;
		font-weight: 700;
		flex-basis: 70vw;
		cursor: pointer;
	}
}
