.navbar {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	position: sticky;
	top: 0;
	background-color: var(--honey);
	box-shadow: 0px 1px 5px 0px rgb(180, 180, 180);
	z-index: 99;
}
.navbar__logo {
	display: none;
}
.navbar__logo-mobile {
	display: block;
	height: 60px;
}
.navbar__logo-link {
	text-decoration: none;
}

@media screen and (min-width: 800px) {
	.navbar__logo-mobile {
		display: none;
	}
	.navbar__logo {
		display: block;
		height: 60px;
		cursor: pointer;
	}
}
