.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	padding-left: 10%;
	padding-right: 10%;
}
.brand-container {
	display: flex;
	align-items: center;
}
.navbar-brand {
	font-size: 1.8rem;
	font-weight: 700;
}
.logo-img {
	width: 70px;
}
.nav {
	font-size: 1.5rem;
	font-weight: 600;
}
.active {
	color: #282c34;
}
