.sesion__btn {
	width: 70px;
	padding: 0.4em 0;
	border: 1px solid var(--purple);
	border-radius: 5px;
	background-color: var(--purple);
	color: white;
	font-size: 1rem;
	cursor: pointer;
}
@media screen and (min-width: 800px) {
	.sesion__btn {
		width: 120px;
	}
	.sesion__btn:hover {
		background-color: var(--purpleHover);
		border: 1px solid var(--purpleHover);
	}
}
